---
import Layout from "@layouts/Layout.astro";
import { tips, advancedTips } from "../content/_tips";
---

<Layout>
  <section>
    <h2>Helpful touch rugby tips</h2>
    <ul>
      {tips.map((tip) => <li>{tip}</li>)}
    </ul>
  </section>
  <section class="adv">
    <h2>Advanced tips</h2>
    <ul>
      {
        advancedTips.map(({ hash, tip, def }) => (
          <li>
            <h4 id={hash}>{tip}</h4>
            {def}
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  .adv ul {
    list-style: none;
    padding: 0;
  }
</style>
