---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <h1>
    We gather every Saturday morning in South London to play mixed social touch
    rugby. We’re a community of players of all ages, abilities & genders.
  </h1>
  <h2>A little about us</h2>
  <p>
    We're always looking for more players for our social mixed touch rugby
    group. There's no need for prior experience as all rules can be taught
    whilst playing.
  </p>
  <p>
    Past and present players have played in a wide variety of other leagues as
    well as at other venues and levels. It's a great opportunity for beginners
    to benefit from more experienced players' knowledge, as well as for more
    experienced players to help beginners develop their skills and advance their
    knowledge of the game.
  </p>
  <p>
    For the current location please check the pinned post on the Facebook page.
    There is a collection of £1 per person per session, we’ll never ask you to
    subscribe for a season or year; it’s pay and play.
  </p>
  <p>
    There are no fixed teams and there is no long-term commitment needed. Just
    turn up when you're free and leave when you're tired. We do play most touch
    rugby rules, with less emphasis on penalties, but tailored to the individual
    and their experience playing touch.
  </p>
  <p>
    To register and keep up to date, join our Facebook Group. The only Saturdays
    we don't play are Christmas Day and New Year's Day.
  </p>
</Layout>
