<footer>
  <div class="container">
    <a href="/">Logo</a>
    &copy; 2024 South London Touch Rugby Club - Thrown together by <a
      href="https://www.garethweaver.com"
      target="_blank">Gareth Weaver</a
    >.
  </div>
</footer>

<style>
  footer {
    background: rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
  }
  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 4em var(--container-gutter);
  }
</style>
